.item{
    background:white;
    border: 1px solid #e8e8e8;
    margin:1.3rem;
    padding:1.3rem;
}
.item__message{
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    text-align:center;
}
.item__message--empty{
    color:#999999;
}
.item--position-1{
    background:#c8f0b7;
    border-color: #9eda84;
}
.item--position-2{
    background: #dfe7ed;
    border-color: #9dbad1;
}
.item--position-3{
    background:#eddfdf;
    border-color: #c99999;
}